body {
  background-color: #404D5D !important;
}

#main {
  margin-top: 8em;
  text-align: center;
}

.logo {
  width: 150px;
  padding-bottom: 2em;
}

.logo1 {
  width: 100px;
  padding-bottom: 1.5em;
  margin-top: -1em;
}

.btn-xperio {
  color: #ffffff;
  background-color: transparent;
  box-shadow: none;
  width: 150px;
  font-weight: 200;
  font-size: .8em;
  margin-bottom: 1.5em;
}

.btn-xperio:hover {
  background-color: #F43868;
  color: #ffffff;
}

.input-field label {
  color: #ffffff;
}

.input-field input[type=text]:focus + label {
  color: #ffffff;
  opacity: 0.2;
}

.input-field input[type=password]:focus + label {
  color: #ffffff;
  opacity: 0.2;
}

.nuevacontrasena {
  text-decoration: none;
  color: #ffffff;
}

nav .nav-wrapper i {
  margin-top: .5em;
}

i {
  margin-top: .5em;
}

.navegador {
  background-color: #000000;
}

.main_filtros_item {
  text-align: center;
}

.contenedor_filtros {
  text-align: center;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: center;
      -ms-flex-flow: center;
          flex-flow: center;
  margin-top: 1em;
  padding: 0;
}

.contenedor_filtros li {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  text-align: center;
}

.contenedor_filtros a {
  color: #ffffff;
  font-size: .8em;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.contenedor_filtros a:hover {
  background-color: #ffffff;
  color: #404D5D;
}

.contenedor_filtros a:hover:active {
  background-color: #ffffff;
  color: #F43868;
}

#main_display {
  margin-left: 5%;
  margin-right: 5%;
}

.caja_display {
  background-color: #FF615E;
  box-shadow: 3px 3px 8px #000000;
  border-radius: 5px;
  height: 100px;
}

img.right1 {
  margin-top: 3px;
}

@media (min-width: 768px) {
  .caja_display {
    height: 200px;
    width: 200px;
  }
  .caja_icono {
    height: 200px !important;
  }
  .icono_display {
    margin-top: 8em !important;
  }
  .texto_caja {
    margin-top: 1em !important;
  }
  #main_display {
    margin-left: 12%;
    margin-right: 12%;
  }
  .right1 {
    height: 30px;
  }
  .caja_config img {
    padding-left: 4em;
  }
}

.caja_icono {
  background-color: #FF615E;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.icono_display {
  height: 50px;
  margin-top: 1.5em;
}

.texto_caja {
  color: #ffffff;
  font-weight: 200;
}

.texto_caja {
  font-size: 1.5em;
  margin-top: .4em;
  margin-left: .3em;
}

.texto_caja1 {
  font-size: .9em;
  color: #ffffff;
  font-weight: 200;
  margin-top: -.8em;
  margin-left: .5em;
}

.boton_display {
  background-color: #ffffff;
  width: 60px;
  height: 25px;
  position: absolute;
  left: 14em;
  margin-top: 4.3em;
  border-radius: 5px;
  display: block;
  box-shadow: inset 0 0 5px #404D5D;
}

.caja_config {
  margin-top: -2.5em;
}

.caja_config img {
  height: 20px;
}

.boton_manual {
  margin-top: 3.5em;
  margin-left: 3.5em;
}

.manejador {
  text-align: right;
  margin-top: .5em;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #50E3C2;
}

label {
  color: #ffffff;
}

.switch label .lever {
  background-color: #ffffff;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #50E3C2;
}

.titulo_restablecer {
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 200;
}

.btn-xperio_chico {
  background-color: #15d0a5;
  color: #ffffff;
  width: 70px;
  font-size: .7em;
  text-align: center;
  padding-left: 8px;
}

#main_dispositivos {
  margin-top: 1.5em;
}

.dropdown-button {
  background-color: #B1B9C2 !important;
}

.titulo_xperio {
  font-size: 1.3em;
  color: #ffffff;
  text-align: center;
  padding-top: 1em;
  font-weight: 200;
}

.contenedor_dispositivo {
  border: 3px solid #B1B9C2;
  height: 80px;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
}

.icono_dispositivo {
  margin-left: 1em;
  margin-top: 1em;
}

.titulo_dispositivo {
  color: #B1B9C2;
  font-size: 1.2em;
  font-weight: 200;
}

.area_dispositivo {
  color: #B1B9C2;
  margin-top: -.5em;
  font-weight: 200;
}

.rectangulo {
  background-color: #f5a342;
  border-radius: 5px;
  height: 20px;
  width: 60px !important;
  margin-top: -1em;
  text-align: center;
}

.rectangulo:hover {
  width: 55px;
  height: 18px;
}

.rectangulo p {
  color: #ffffff;
  font-weight: 200;
  font-size: .8em;
  margin-top: .1em;
}

.input_derecha {
  margin-left: 20px;
}

.texto_input {
  margin-top: 30px;
  margin-left: -5px;
}

@media (min-width: 768px) {
  .texto_input {
    margin-left: 80px;
    margin-top: 80px;
  }
  .texto_caja1 {
    width: 100px;
  }
}

.subir {
  margin-top: -3.5em;
}

.derecha {
  margin-left: 45px;
  margin-top: 15px;
  background-color: transparent !important;
}

#dropdown2 {
  margin-left: 45px;
}

#temperatura {
  background-color: #3FC6F5;
}

.caja_icono_temperatura {
  background-color: #3FC6F5;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.temperatura_item {
  margin-top: 60px !important;
}

#aireacon {
  background-color: #FDBF00;
}

.caja_icono_acondicionado {
  background-color: #FDBF00;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.aireacon_item {
  margin-top: 60px !important;
}

#dimerc {
  background-color: #F92E53;
}

.caja_icono_dimerc {
  background-color: #F92E53;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.dimerc_item {
  margin-top: 60px !important;
}

#camara {
  background-color: #0CC9B3;
}

.caja_icono_camara {
  background-color: #0CC9B3;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.camara_item {
  margin-top: 70px !important;
}

.ver {
  margin-left: 3.5em;
  margin-top: 1em;
}

.ver a {
  font-size: .8em;
  margin-top: 2em;
  padding: 0.2em 1em;
  margin-left: 1em;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 0 3px #404D5D;
}

.ver a:hover {
  color: #ffffff;
  background-color: #404D5D;
  box-shadow: none;
}

.camara {
  height: 40px;
  margin-left: -8px;
  margin-top: 28px;
}

#movimiento {
  background-color: #14A9DE;
}

.caja_icono_movimiento {
  background-color: #14A9DE;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.movimiento_item {
  margin-top: 70px !important;
}

.movimiento {
  height: 45px;
  margin-top: 28px;
  margin-left: -8px;
}

#humo {
  background-color: #53A4EB;
}

.caja_icono_humo {
  background-color: #53A4EB;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.humo_item {
  margin-top: 70px !important;
}

.humo {
  height: 42px;
  margin-top: 28px;
  margin-left: -8px;
}

#humedad {
  background-color: #0C59B4;
}

.caja_icono_humedad {
  background-color: #0C59B4;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.humedad_item {
  margin-top: 70px !important;
}

.humedad {
  height: 45px;
  margin-top: 28px;
  margin-left: -8px;
}

#cerradura {
  background-color: #BD10E0;
}

.caja_icono_cerradura {
  background-color: #BD10E0;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.cerradura_item {
  margin-top: 20px !important;
}

.cerradura {
  height: 45px;
  margin-left: -8px;
  margin-top: 25px;
}

#electrovalvula {
  background-color: #9B9B9B;
}

.caja_icono_electrovalvula {
  background-color: #9B9B9B;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.electrovalvula_item {
  margin-top: 60px !important;
}

.electrovalvula {
  height: 35px;
  margin-top: 28px;
  margin-left: -8px;
}

#cerradura_magnetica {
  background-color: #0BBF38;
}

.caja_icono_cerradura_magnetica {
  background-color: #0BBF38;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.cerradura_item_magnetica {
  margin-top: 20px !important;
}

.cerradura_magnetica {
  height: 45px;
  margin-left: -8px;
  margin-top: 25px;
}

#persiana {
  background-color: #D0021B;
}

.caja_icono_persiana {
  background-color: #D0021B;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.persiana_item {
  margin-top: 60px !important;
}

.persiana {
  height: 35px;
  margin-top: 28px;
  margin-left: -8px;
}

#cortina {
  background-color: #EB1558;
}

.caja_icono_cortina {
  background-color: #EB1558;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.cortina_item {
  margin-top: 60px !important;
}

.cortina {
  height: 30px;
  margin-top: 35px;
  margin-left: -8px;
}

#sirena {
  background-color: #9C920E;
}

.caja_icono_sirena {
  background-color: #9C920E;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.sirena_item {
  margin-top: 20px !important;
}

.sirena {
  height: 45px;
  margin-top: 25px;
  margin-left: -8px;
}

#sirena {
  background-color: #9C920E;
}

.caja_icono_sirena {
  background-color: #9C920E;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.sirena_item {
  margin-top: 20px !important;
}

.sirena {
  height: 45px;
  margin-top: 25px;
  margin-left: -8px;
}

#lampara {
  background-color: #9C920E;
}

.caja_icono_lampara {
  background-color: #9C920E;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.lampara_item {
  margin-top: 20px !important;
}

.lampara {
  height: 45px;
  margin-top: 25px;
  margin-left: -8px;
}
