body {
  background-color: #404D5D !important;
}

#main {
  margin-top: 8em;
  text-align: center;
}

.logo {
  width: 150px;
  padding-bottom: 2em;
}

.logo1 {
  width: 100px;
  padding-bottom: 1.5em;
  margin-top: -1em;
}

.btn-xperio {
  color: #ffffff;
  background-color: transparent;
  box-shadow: none;
  width: 150px;
  font-weight: 200;
  font-size: .8em;
  margin-bottom: 1.5em;
}

.btn-xperio:hover {
  background-color: #F43868;
  color: #ffffff;
}

.input-field label {
  color: #ffffff;
}

.input-field input[type=text]:focus + label {
  color: #ffffff;
  opacity: 0.2;
}

.input-field input[type=password]:focus + label {
  color: #ffffff;
  opacity: 0.2;
}

.nuevacontrasena {
  text-decoration: none;
  color: #ffffff;
}

.navegador {
  background-color: #000000;
}

.contenedor_filtros {
  text-align: center;
  margin-bottom: 3em;
}

.contenedor_filtros li {
  display: inline-block;
}

.contenedor_filtros a {
  color: #ffffff;
  font-size: .8em;
  margin-left: 1.3em;
  text-transform: uppercase;
}

.contenedor_filtros a:hover {
  background-color: #ffffff;
  color: #404D5D;
  padding: 0.5em 0.5em;
}

.contenedor_filtros a:hover:active {
  background-color: #ffffff;
  color: #F43868;
}

#main_display {
  margin-left: 3%;
  margin-right: 3%;
}

.caja_display {
  background-color: #FF615E;
  box-shadow: 3px 3px 8px #000000;
  border-radius: 5px;
  height: 100px;
}

@media (min-width: 768px) {
  .caja_display {
    height: 200px;
    width: 200px;
  }
  .caja_icono {
    height: 200px !important;
  }
  .icono_display {
    margin-top: 8em !important;
  }
  .texto_caja {
    margin-top: 2em !important;
  }
  #main_display {
    margin-left: 12%;
    margin-right: 12%;
  }
}

.caja_icono {
  background-color: #FF615E;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.icono_display {
  height: 50px;
  margin-top: 1.5em;
}

.texto_caja {
  color: #ffffff;
  font-weight: 200;
}

.texto_caja {
  font-size: 1.5em;
  margin-top: .4em;
  margin-left: .3em;
}

.texto_caja1 {
  font-size: .9em;
  color: #ffffff;
  font-weight: 200;
  margin-top: -.8em;
  margin-left: .5em;
}

.boton_display {
  background-color: #ffffff;
  width: 60px;
  height: 25px;
  position: absolute;
  left: 14em;
  margin-top: 4.3em;
  border-radius: 5px;
  display: block;
  box-shadow: inset 0 0 5px #404D5D;
}

.caja_config {
  margin-top: -2.5em;
}

.caja_config img {
  height: 20px;
}

.boton_manual {
  margin-top: 3.5em;
  margin-left: 3.5em;
}

.manejador {
  text-align: right;
  margin-top: .5em;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #50E3C2;
}

label {
  color: #ffffff;
}

.switch label .lever {
  background-color: #ffffff;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #50E3C2;
}

.titulo_restablecer {
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 200;
}

.btn-xperio_chico {
  background-color: #50E3C2;
  width: 70px;
  font-size: .7em;
  text-align: center;
  padding-left: 8px;
}

#main_dispositivos {
  margin-top: 1.5em;
}

.dropdown-button {
  background-color: #B1B9C2 !important;
}

.titulo_xperio {
  font-size: 1.3em;
  color: #ffffff;
  text-align: center;
  padding-top: 1em;
  font-weight: 200;
}

.contenedor_dispositivo {
  border: 3px solid #B1B9C2;
  height: 80px;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1em;
}

.icono_dispositivo {
  margin-left: 1em;
  margin-top: 1em;
}

.titulo_dispositivo {
  color: #B1B9C2;
  font-size: 1.2em;
  font-weight: 200;
}

.area_dispositivo {
  color: #B1B9C2;
  margin-top: -.5em;
  font-weight: 200;
}

.rectangulo {
  background-color: #f5a342;
  border-radius: 5px;
  height: 20px;
  width: 60px !important;
  margin-top: -1em;
  text-align: center;
}

.rectangulo:hover {
  width: 55px;
  height: 18px;
}

.rectangulo p {
  color: #ffffff;
  font-weight: 200;
  font-size: .8em;
  margin-top: .1em;
}

.input_derecha {
  margin-left: 20px;
}
