body {
  background-color: #404D5D !important;
  min-height: 100%;
}

.row .col {
  padding: 0;
}

#main {
  margin-top: 8em;
  text-align: center;
}

.logo {
  width: 150px;
  padding-bottom: 2em;
}

.logo1 {
  width: 100px;
  padding-bottom: 1.5em;
  margin-top: -1em;
}

.btn-xperio {
  color: #ffffff;
  background-color: transparent;
  box-shadow: none;
  width: 150px;
  font-weight: 200;
  font-size: .8em;
  margin-bottom: 1.5em;
}

.btn-xperio:hover {
  background-color: #F43868;
  color: #ffffff;
}

.input-field label {
  color: #ffffff;
}

.input-field input[type=text]:focus + label {
  color: #ffffff;
  opacity: 0.2;
}

.input-field input[type=password]:focus + label {
  color: #ffffff;
  opacity: 0.2;
}

.nuevacontrasena {
  text-decoration: none;
  color: #ffffff;
}

nav .nav-wrapper i {
  margin-top: .5em;
}

@media (min-width: 670px) {
  nav .nav-wrapper i {
    margin-top: .1em;
  }
}

i {
  margin-top: .5em;
}

.navegador {
  background-color: #232E45;
}

.main_filtros_item {
  text-align: center;
}

.contenedor_filtros {
  text-align: center;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: center;
      -ms-flex-flow: center;
          flex-flow: center;
  margin-top: 1em;
  padding: 0;
}

.contenedor_filtros li {
  display: inline-block;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  text-align: center;
}

.contenedor_filtros a {
  color: #ffffff;
  font-size: .8em;
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

.contenedor_filtros a:hover {
  background-color: #ffffff;
  color: #404D5D;
  padding: .5em 0;
}

.contenedor_filtros a:hover:active {
  background-color: #ffffff;
  color: #F43868;
}

#main_display {
  margin-left: 5%;
  margin-right: 5%;
}

.caja_display {
  background-color: #FF615E;
  box-shadow: 3px 3px 8px #000000;
  border-radius: 5px;
  height: 100px;
}

img.right1 {
  margin-top: -2.5em;
  margin-left: 10em;
}

@media (min-width: 670px) {
  img.right1 {
    margin-top: -6em !important;
    margin-left: 7.5em;
    position: absolute;
  }
}

@media (min-width: 670px) {
  .caja_display {
    height: 200px;
    width: 200px;
    margin-right: 20px;
  }
  .caja_icono {
    height: 200px !important;
  }
  .icono_display {
    margin-top: 8em !important;
  }
  .texto_caja {
    margin-top: 1em !important;
    display: inline-block;
  }
  #main_display {
    margin-left: 12%;
    margin-right: 12%;
  }
  .right1 {
    height: 30px;
  }
  .caja_config img {
    padding-left: 4em;
  }
}

.caja_icono {
  background-color: #FF615E;
  box-shadow: 3px 0 5px #404D5D;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}

.icono_display {
  height: 50px;
  margin-top: 1.5em;
}

.texto_caja {
  color: #ffffff;
  font-weight: 200;
}

.texto_caja {
  font-size: 1.5em;
  margin-top: .4em;
  margin-left: .3em;
}

.texto_caja1 {
  font-size: .9em;
  color: #ffffff;
  font-weight: 200;
  margin-top: -.8em;
  margin-left: .5em;
}

.boton_display {
  background-color: #ffffff;
  width: 60px;
  height: 25px;
  position: absolute;
  left: 14em;
  margin-top: 4.3em;
  border-radius: 5px;
  display: block;
  box-shadow: inset 0 0 5px #404D5D;
}

.caja_config {
  margin-top: -2.5em;
}

.caja_config img {
  height: 20px;
}

.boton_manual {
  margin-top: 3.5em;
  margin-left: 3.5em;
}

.manejador {
  text-align: right;
  margin-top: .5em;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #50E3C2;
}

label {
  color: #ffffff;
}

.switch label .lever {
  background-color: #ffffff;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #50E3C2;
}

.titulo_restablecer {
  font-size: 1.2em;
  color: #ffffff;
  font-weight: 200;
}

.btn-xperio_chico {
  background-color: #15d0a5;
  color: #ffffff;
  width: 70px;
  font-size: .7em;
  text-align: center;
  padding-left: 4px;
}

#main_dispositivos {
  margin-top: 1.5em;
}

.dropdown-button {
  background-color: #B1B9C2 !important;
}

.titulo_xperio {
  font-size: 1.3em;
  color: #ffffff;
  text-align: center;
  padding-top: 1em;
  font-weight: 200;
}

.contenedor_dispositivo {
  border: 3px solid #B1B9C2;
  height: 80px;
  border-radius: 5px;
  margin-bottom: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

@media (min-width: 670px) {
  .contenedor_dispositivo {
    margin-left: 20px;
    margin-right: 20px;
    height: 115px;
  }
  .rectangulo {
    margin-top: 10px;
  }
  .centrar {
    margin-left: 25%;
  }
}

@media (min-width: 670px) {
  .center_asociar {
    margin-left: 17.5%;
  }
}

.icono_dispositivo {
  margin-left: 1em !important;
  margin-top: 1em;
}

@media (min-width: 670px) {
  .icono_dispositivo {
    margin-top: 2em;
  }
}

.titulo_dispositivo {
  color: #B1B9C2;
  font-size: 1.2em;
  font-weight: 200;
}

@media (min-width: 670px) {
  .titulo_dispositivo {
    margin-top: 1.5em;
  }
}

.area_dispositivo {
  color: #B1B9C2;
  font-weight: 200;
}

.rectangulo {
  background-color: #f5a342;
  border-radius: 5px;
  height: 20px;
  width: 60px !important;
  margin-top: -1em;
  text-align: center;
}

.rectangulo:hover {
  width: 55px;
  height: 18px;
}

@media (min-width: 768px) {
  .rectangulo {
    margin-top: 1em;
  }
}

.auto_manual {
  margin-top: -2em;
  color: #ffffff;
  font-size: .8em;
  font-weight: 200;
}

.rectangulo p {
  color: #ffffff;
  font-weight: 200;
  font-size: .8em;
  margin-top: .1em;
}

.input_derecha {
  padding-left: 20px;
  margin-top: 5px;
}

@media (min-width: 670px) {
  .input_derecha {
    margin-top: 1.1em;
  }
}

.texto_input {
  margin-top: 10px;
  margin-left: 10em;
}

@media (min-width: 768px) {
  .texto_input {
    margin-left: 4em;
    margin-top: 20px;
  }
  .texto_caja1 {
    width: 100px;
  }
}

.titulo_dispositivo_principal {
  color: #ffffff;
  font-size: 1.8em;
  font-weight: 300;
}

.icono_dispositivo_asociar {
  border: 2px solid #ffffff;
  height: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.icono_dispositivo_asociar img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 55px;
}

.cuerpo_titulo {
  font-size: 1.3em;
  color: #ffffff;
  font-weight: 200;
  text-align: left;
  margin-left: .8em;
}

.cuerpo_subtitulo {
  font-size: 1em;
  color: #ffffff;
  font-weight: 200;
  text-align: left;
  margin-left: 1em;
}

.centrar_dispositivo {
  margin-left: 10% !important;
}

@media (min-width: 670px) {
  .centrar_dispositivo {
    margin-left: 30% !important;
  }
}

.cuerpo_dispositivo_asociar {
  border: 2px solid #ffffff;
  height: 100px;
}

.alinear_bloque {
  text-align: center;
}

.subir {
  margin-top: -3.5em;
}

.adicional {
  background-color: transparent !important;
}

.derecha {
  margin-left: 45px;
  margin-top: 15px;
  background-color: transparent !important;
}

.agregar_dispositivo {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2em;
  height: 100px;
  border: 3px dashed #ffffff;
  opacity: .5;
  border-radius: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 670px) {
  .agregar_dispositivo {
    margin: 0;
    display: inline-block;
    height: 210px;
    margin-top: 1em;
  }
}

.icono_agregar {
  -webkit-box-flex: 1;
  -webkit-flex: auto;
      -ms-flex: auto;
          flex: auto;
  opacity: .5;
  margin-left: 1em;
  margin-top: 1.1em;
  color: #ffffff;
  font-size: 2em;
}

.texto_agregar_dispositivo {
  font-size: 1.2em;
  margin-top: -1.7em;
  margin-left: 4em;
  color: #ffffff;
  opacity: .5;
}

@media (min-width: 670px) {
  .icono_agregar {
    margin-left: .5em;
    margin-top: 3em;
  }
  .texto_agregar_dispositivo {
    margin-left: 2.5em;
  }
}

footer {
  background-color: #232E45;
  width: 100%;
  height: 60px;
}

.contenedor_variable {
  width: auto;
  height: 120px;
  background-color: red;
  border-radius: 10px;
  box-shadow: 0px 0 4px #232E45;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 10px;
}

@media (min-width: 670px) {
  .contenedor_variable {
    height: 220px;
  }
}

.content_icon {
  height: 100%;
  background-color: green;
  width: 100%;
  border-radius: 10px 0 0 10px;
  box-shadow: 3px 0 4px #404D5D;
  text-align: left;
  padding: 0 !important;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tamano_logo {
  height: 50px;
}

.testo {
  margin-left: .8rem;
  color: #ffffff;
  font-weight: 200;
}

@media (min-width: 670px) {
  .mayor {
    padding-top: 2.5em;
  }
}

.mayor {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0;
  margin-top: .5em;
  text-transform: uppercase;
}

.menor {
  font-size: .9em;
  margin-top: .2em;
}

.content_herra {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon_herra {
  height: 30px;
  margin-top: 1em;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}

@media (max-width: 480px) {
  .icon_herra {
    margin-left: 3em;
  }
  .abajo1 {
    margin-left: -1em;
  }
}

.none {
  background-color: transparent !important;
}

.abajo1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 1em;
  margin-left: -1em;
}

.indicador_presencia {
  height: 20px;
  width: 50px;
  border-radius: 20px;
  background-color: #27f99a;
  margin-left: 3em;
  box-shadow: 0 0 3px #404D5D;
}

.foco {
  background-color: #FF615E;
}

.content_icon .foco {
  background-color: #FF615E;
}

.temperatura {
  background-color: #3FC6F5;
}

.content_icon .temperatura {
  background-color: #3FC6F5;
}

.input {
  font-size: 1.8em;
  margin-top: -10px;
}

.input1 {
  font-size: 1.8em;
  margin-left: 2.5em;
}

.aire_acondicionado {
  background-color: #FDBF00;
}

.content_icon .aire_acondicionado {
  background-color: #FDBF00;
}

.dimerc {
  background-color: #F92E53;
}

.content_icon .dimerc {
  background-color: #F92E53;
}

.dimerc-color {
  margin-left: 1em;
  margin-top: 2em;
}

@media (max-width: 670px) {
  .dimerc-color {
    margin-top: 0;
  }
}

.camara1 {
  background-color: #0CC9B3;
}

.content_icon .camara1 {
  background-color: #0CC9B3;
}

.tamano_logo_camara1 {
  height: 30px;
  margin-top: 3em;
}

@media (min-width: 670px) {
  .tamano_logo_camara1 {
    height: 40px;
    margin-top: 3em;
  }
}

.movimiento1 {
  background-color: #14A9DE;
}

.content_icon .movimiento1 {
  background-color: #14A9DE;
}

.humo1 {
  background-color: #53A4EB;
}

.content_icon .humo1 {
  background-color: #53A4EB;
}

.tamano_logo_humo1 {
  height: 30px;
  margin-top: 3em;
}

@media (min-width: 670px) {
  .tamano_logo_humo1 {
    height: 40px;
    margin-top: 3em;
  }
}

.humedad1 {
  background-color: #0C59B4;
}

.content_icon .humedad1 {
  background-color: #0C59B4;
}

.cerradura1 {
  background-color: #BD10E0;
}

.content_icon .ceradura1 {
  background-color: #BD10E0;
}

.electrovalvula1 {
  background-color: #9B9B9B;
}

.content_icon .electrovalvula1 {
  background-color: #9B9B9B;
}

.tamano_logo_electrovalvula1 {
  height: 30px;
  margin-top: 3em;
}

@media (min-width: 670px) {
  .tamano_logo_electrovalvula1 {
    height: 40px;
    margin-top: 3em;
  }
}

.cerradura2 {
  background-color: #0BBF38;
}

.content_icon .cerradura2 {
  background-color: #0BBF38;
}

.persiana1 {
  background-color: #D0021B;
}

.content_icon .persiana1 {
  background-color: #D0021B;
}

.cortina1 {
  background-color: #EB1558;
}

.content_icon .cortina1 {
  background-color: #EB1558;
}

.tamano_logo_cortina1 {
  height: 30px;
  margin-top: 3em;
}

@media (min-width: 670px) {
  .tamano_logo_cortina1 {
    height: 40px;
    margin-top: 3em;
  }
}

.sirena1 {
  background-color: #9C920E;
}

.content_icon .sirena1 {
  background-color: #9C920E;
}

.iluminacion {
  background-color: #2A788B;
}

.content_icon .iluminacion {
  background-color: #2A788B;
}

.tomacorriente {
  background-color: #8B0377;
}

.content_icon .tomacorriente {
  background-color: #8B0377;
}

.ventilador {
  background-color: #afbd0a;
}

.content_icon .ventilador {
  background-color: #afbd0a;
}

.lamparahalo {
  background-color: #F58323;
}

.content_icon .lamparahalo {
  background-color: #F58323;
}

.bomba {
  background-color: #1580d9;
}

.content_icon .bomba {
  background-color: #1580d9;
}

.lampara-rgb {
  background-color: #bc60e7;
}

.content_icon .lampara-rgb {
  background-color: #bc60e7;
}

.arriba_cuadro {
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 30px;
  margin-bottom: 5px;
}

.arriba_cuadro:active {
  background-color: #bded41;
  box-shadow: 0 0 3px #404D5D;
}

.icono-chico {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 12px;
  width: 18px;
}

@media (min-width: 670px) {
  .derecha_maximo {
    margin-left: 15%;
  }
}
