$gris : #404D5D;
$gris2 : #B1B9C2;
$magenta : #F43868;
$blanco : #ffffff;
$negro : #000000;
$negro2 : #232E45;
$rojo : #FF615E;

// esta parte nos ayuda con el logeo, es totalmente responsive, hay algunas
// clases que modifican el core de materializacss
body{
  background-color: $gris !important;
  min-height: 100%;
}
.row .col{
  padding: 0;
}

#main{
  margin-top: 8em;
  text-align: center;
}
.logo{
  width: 150px;
  padding-bottom: 2em;
}
.logo1{
  width: 100px;
  padding-bottom: 1.5em;
  margin-top: -1em;
}
.btn-xperio{
  color:$blanco;
  background-color:transparent;
  box-shadow: none;
  width:150px;
  font-weight: 200;
  font-size: .8em;
  margin-bottom: 1.5em;
  &:hover{
    background-color: $magenta;
    color:$blanco;
  }
}
.input-field label{
  color:$blanco;
}
.input-field input[type=text]:focus + label{
  color:$blanco;
  opacity: 0.2;
}
.input-field input[type=password]:focus + label{
  color:$blanco;
  opacity: 0.2;
}
.nuevacontrasena{
  text-decoration: none;
  color:$blanco;
}
nav .nav-wrapper i{
  margin-top: .5em;
}
@media (min-width: 670px){
  nav .nav-wrapper i{
    margin-top: .1em;
  }
}
i{
  margin-top: .5em;
}

// aqui comienza el main que es la página principal la que contiene todos
// los dispositivos
.navegador{
  background-color:$negro2;
}
.main_filtros_item{
  text-align: center;
}
.contenedor_filtros{
  text-align: center;
  margin-bottom: 3em;
  display: flex;
  flex-flow: center;
  margin-top : 1em;
  padding: 0;
}
.contenedor_filtros li{
  display: inline-block;
  flex:auto;
  text-align: center;
}
.contenedor_filtros a{
  color:$blanco;
  font-size: .8em;
  flex:auto;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
    &:hover{
      background-color: $blanco;
      color:$gris;
      padding: .5em 0;
    &:active{
      background-color: $blanco;
      color:$magenta;
    }
  }
}
// estos son los estilos para cualquier display solo cambiamos algunos puntos
#main_display{
  margin-left: 5%;
  margin-right: 5%;
}
.caja_display{
  background-color: $rojo;
  box-shadow: 3px 3px 8px $negro;
  border-radius: 5px;
  height: 100px;
}
img.right1{
  margin-top: -2.5em;
  margin-left: 10em;
}
@media (min-width: 670px){
  img.right1{
    margin-top: -6em !important;
    margin-left: 7.5em;
    position:absolute;
  }
}
@media (min-width: 670px){
  .caja_display{
    height: 200px;
    width: 200px;margin-right: 20px;
  }
  .caja_icono{
    height: 200px!important;
  }
  .icono_display{
    margin-top: 8em!important;
  }
  .texto_caja{
    margin-top: 1em !important;
    display: inline-block;
  }
  #main_display{
    margin-left: 12%;
    margin-right: 12%;
  }
  .right1{
      height: 30px;
  }
  .caja_config img{
    padding-left: 4em;
  }
}
// @media (min-width: 670px){
// .center-align{
//   margin-left: 33%;
//   }
// }
.caja_icono{
  background-color:$rojo;
  box-shadow: 3px 0 5px $gris;
  border-radius: 5px 0 0 5px;
  width: 25%;
  height: 100px;
  text-align: center;
  vertical-align: middle;
}
.icono_display{
  height: 50px;
  margin-top: 1.5em;
}
.texto_caja{
  color:$blanco;
  font-weight: 200;
}
.texto_caja{
  font-size: 1.5em;
  margin-top: .4em;
  margin-left: .3em;
}
.texto_caja1{
  font-size: .9em;
  color: $blanco;
  font-weight: 200;
  margin-top: -.8em;
  margin-left: .5em;
}
.boton_display{
  background-color: $blanco;
  width: 60px;
  height: 25px;
  position:absolute;
  left: 14em;
  margin-top: 4.3em;
  border-radius: 5px;
  display: block;
  box-shadow:  inset 0 0 5px $gris;
}
.caja_config{
  margin-top: -2.5em;
}
.caja_config img{
  height: 20px;
}
.boton_manual{
  // margin-left: 1em;
  margin-top: 3.5em;
  margin-left: 3.5em;
}
.manejador{
  text-align: right;
  margin-top: .5em;
}
.switch label input[type=checkbox]:checked + .lever {
  background-color: #50E3C2;
}
label{
  color:$blanco;
}
.switch label .lever{
  background-color: $blanco;

}
.switch label input[type=checkbox]:checked + .lever:after{
  background-color: #50E3C2;
}
.titulo_restablecer{
  font-size: 1.2em;
  color: $blanco;
  font-weight: 200;
}
.btn-xperio_chico{
  background-color: #15d0a5;
  color: $blanco;
  width: 70px;
  font-size: .7em;
  text-align: center;
  padding-left: 4px;
}
#main_dispositivos{
  margin-top: 1.5em;
}
.dropdown-button{
  background-color:#B1B9C2 !important;
}
.titulo_xperio{
  font-size: 1.3em;
  color: $blanco;
  text-align: center;
  padding-top: 1em;
  font-weight: 200;
}
// aqui comienza las clases de el primer dispositivo para vincular
.contenedor_dispositivo{
  border: 3px solid $gris2;
  height: 80px;
  border-radius: 5px;
  margin-bottom: 1em;
}
@media (min-width: 670px){
  .contenedor_dispositivo{
    margin-left: 20px;
    margin-right: 20px;
    height: 115px;
  }
  .rectangulo{
    margin-top: 10px;
  }
  .centrar{
    margin-left: 25%;
  }
}
.icono_dispositivo{
  margin-left: 1em;
  margin-top: 1em;
}
.titulo_dispositivo{
  color: $gris2;
  font-size: 1.2em;
  font-weight: 200;
}
.area_dispositivo{
  color: $gris2;
  font-weight: 200;
}
.rectangulo{
  background-color: #f5a342;
  border-radius: 5px;
  height: 20px;
  width: 60px !important;
  margin-top: -1em;
  text-align: center;
  &:hover{
    width: 55px;
    height: 18px;
  }
}
.rectangulo p{
  color:$blanco;
  font-weight: 200;
  font-size: .8em;
  margin-top: .1em;
}
.input_derecha{
  padding-left: 20px;
}
.texto_input{
  margin-top: 10px;
  margin-left: 10em;
}
@media (min-width: 768px){
.texto_input{
  margin-left: 4em;
  margin-top: 20px;
  }
  .texto_caja1{
    width: 100px;
  }
}
.subir{
  margin-top: -3.5em;
}
.adicional{
  background-color: transparent !important;
}
.derecha{
  margin-left: 45px;
  margin-top: 15px;
  background-color: transparent!important;
}
.agregar_dispositivo{
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 2em;
  height: 100px;
  border: 3px dashed $blanco;
  opacity: .5;
  border-radius: 10px;
  display: flex;
}
@media (min-width: 670px){
  .agregar_dispositivo{
    margin:0;
    display: inline-block;
    height: 210px;
    margin-top: 1em;
  }
}
.icono_agregar{
  flex: auto;
  opacity: .5;
  margin-left: 1em;
  margin-top: 1.1em;
  color:$blanco;
  font-size: 2em;
}
.texto_agregar_dispositivo{
  font-size: 1.2em;
  margin-top: -1.7em;
  margin-left: 4em;
  color:$blanco;
  opacity: .5;
}
@media (min-width: 670px){
  .icono_agregar{
    margin-left:.5em;
    margin-top: 3em;
  }
  .texto_agregar_dispositivo{
    margin-left: 2.5em;
  }
}
footer{
  background-color: $negro2;
  width: 100%;
  height: 60px;

}
// estilos de los displays de los dispositivos
// temperatura
// #temperatura{
//   background-color: #3FC6F5;
// }
// .caja_icono_temperatura{
//     background-color:#3FC6F5;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .temperatura_item{
//   margin-top: 60px!important;
// }
// fin de estilos temperatura

// aie
// #aireacon{
//   background-color: #FDBF00;
// }
// .caja_icono_acondicionado{
//     background-color:#FDBF00;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .aireacon_item{
//   margin-top: 60px!important;
// }
// fin de estilos aire acondicionado

// dimerc
// #dimerc{
//   background-color: #F92E53;
// }
// .caja_icono_dimerc{
//     background-color:#F92E53;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .dimerc_item{
//   margin-top: 60px!important;
// }
// fin de estilos dimerc

// camara
// #camara{
//   background-color: #0CC9B3;
// }
// .caja_icono_camara{
//     background-color:#0CC9B3;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .camara_item{
//   margin-top: 70px!important;
// }
// .ver{
//   margin-left: 3.5em;
//   margin-top: 1em;
// }
// .ver a{
//   font-size: .8em;
//   margin-top: 2em;
//   padding: .2em 1em;
//   margin-left: 1em;
//   border-radius: 5px;
//   background-color: $blanco;
//   box-shadow: 0 0 3px $gris;
//   &:hover{
//     color:$blanco;
//     background-color: $gris;
//     box-shadow: none;
//   }
// }
// .camara{
//   height: 40px;
//   margin-left: -8px;
//   margin-top: 28px;
// }
// fin de estilos cámara

// movimiento
// #movimiento{
//   background-color: #14A9DE;
// }
// .caja_icono_movimiento{
//     background-color:#14A9DE;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .movimiento_item{
//   margin-top: 70px!important;
// }
// .movimiento{
//   height: 45px;
//   margin-top: 28px;
//   margin-left: -8px;
// }
// fin de estilos movimiento

// humo
// #humo{
//   background-color: #53A4EB;
// }
// .caja_icono_humo{
//     background-color:#53A4EB;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .humo_item{
//   margin-top: 70px!important;
// }
// .humo{
//   height: 42px;
//   margin-top: 28px;
//   margin-left: -8px;
// }
// fin de estilos movimiento

// humedad
// #humedad{
//   background-color: #0C59B4;
// }
// .caja_icono_humedad{
//     background-color:#0C59B4;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .humedad_item{
//   margin-top: 70px!important;
// }
// .humedad{
//   height: 45px;
//   margin-top: 28px;
//   margin-left: -8px;
// }
// fin de estilos movimiento

// cerradura
// #cerradura{
//   background-color: #BD10E0;
// }
// .caja_icono_cerradura{
//     background-color:#BD10E0;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .cerradura_item{
//   margin-top: 20px!important;
// }
// .cerradura{
//   height: 45px;
//   margin-left: -8px;
//   margin-top: 25px;
// }
// fin de estilos movimiento

// Electrovalvula
// #electrovalvula{
//   background-color: #9B9B9B;
// }
// .caja_icono_electrovalvula{
//     background-color:#9B9B9B;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .electrovalvula_item{
//   margin-top: 60px!important;
// }
// .electrovalvula{
//   height: 35px;
//   margin-top: 28px;
//   margin-left:-8px;
// }
// fin de estilos movimiento

// cerradura electromagnetica
// #cerradura_magnetica{
//   background-color: #0BBF38;
// }
// .caja_icono_cerradura_magnetica{
//     background-color:#0BBF38;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .cerradura_item_magnetica{
//   margin-top: 20px!important;
// }
// .cerradura_magnetica{
//   height: 45px;
//   margin-left: -8px;
//   margin-top: 25px;
// }
// fin de estilos movimiento

// persiana
// #persiana{
//   background-color: #D0021B;
// }
// .caja_icono_persiana{
//     background-color:#D0021B;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .persiana_item{
//   margin-top: 60px!important;
// }
// .persiana{
//   height: 35px;
//   margin-top: 28px;
//   margin-left:-8px;
// }
// fin de estilos movimiento

// cortina horizontal
// #cortina{
//   background-color: #EB1558;
// }
// .caja_icono_cortina{
//     background-color:#EB1558;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .cortina_item{
//   margin-top: 60px!important;
// }
// .cortina{
//   height: 30px;
//   margin-top: 35px;
//   margin-left:-8px;
// }
// fin de estilos movimiento

// cortina horizontal
// #sirena{
//   background-color: #9C920E;
// }
// .caja_icono_sirena{
//     background-color:#9C920E;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .sirena_item{
//   margin-top: 20px!important;
// }
// .sirena{
//   height: 45px;
//   margin-top: 25px;
//   margin-left:-8px;
// }
// fin de estilos movimiento

// sirena
// #sirena{
//   background-color: #9C920E;
// }
// .caja_icono_sirena{
//     background-color:#9C920E;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .sirena_item{
//   margin-top: 20px!important;
// }
// .sirena{
//   height: 45px;
//   margin-top: 25px;
//   margin-left:-8px;
// }
// fin de estilos movimiento

// // lampara
// #lampara{
//   background-color: #9C920E;
// }
// .caja_icono_lampara{
//     background-color:#9C920E;
//     box-shadow: 3px 0 5px $gris;
//     border-radius: 5px 0 0 5px;
//     width: 25%;
//     height: 100px;
//     text-align: center;
//     vertical-align: middle;
//   }
// .lampara_item{
//   margin-top: 20px!important;
// }
// .lampara{
//   height: 45px;
//   margin-top: 25px;
//   margin-left:-8px;
// }
// // fin de estilos movimiento


// estilos rectangulo prueba
.contenedor_variable{
  width: auto;
  height: 120px;
  background-color: red;
  border-radius: 10px;
  box-shadow: 0px 0 4px $negro2;
  display: flex;
  padding: 0;
  margin: 10px;
}
@media (min-width: 670px){
  .contenedor_variable{
    height: 220px;
  }
}
.content_icon{
  height: 100%;
  background-color: green;
  width: 100%;
  border-radius: 10px 0 0 10px;
  box-shadow: 3px 0 4px $gris;
  text-align: left;
  padding: 0 !important;
  align-self: flex-start;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tamano_logo{
  height: 50px;
  margin-top: 3em;
}
.testo{
  margin-left: .8rem;
  color:$blanco;
  font-weight: 200;
}
@media (min-width: 670px){
  .mayor{
    padding-top: 2.5em;
  }
}
.mayor{
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0;
  margin-top: .5em;
  text-transform: uppercase;
}
.menor{
  font-size: .9em;
  margin-top: .2em;
}
.content_herra{
  display: flex;
  justify-content: space-between;
}
.icon_herra{
  height: 30px;
  margin-top: 1em;
  align-content: center;
  align-self: flex-start;
}
@media (max-width: 480px){
  .icon_herra{
  margin-left: 3em;
  }
  .abajo1{
    margin-left: -1em;
  }
}
.none{
  background-color: transparent !important;
}
.abajo1{
  display: flex;
  align-items: flex-end;
  align-content: center;
  justify-content: flex-end;
  margin-bottom: 1em;
  margin-left: -1em;
}
.indicador_presencia{
  height: 20px;
  width: 50px;
  border-radius: 20px;
  background-color: #27f99a;
  margin-left: 3em;
  box-shadow: 0 0 3px $gris;
}

// estilos foco
.foco{
  background-color: #FF615E;
}
.content_icon .foco{
  background-color:#FF615E;
}
// estilos temperatura
.temperatura{
  background-color: #3FC6F5;
}
.content_icon .temperatura{
  background-color:#3FC6F5;
}
.input{
  font-size: 1.8em;
  margin-top: -10px;
}
.input1{
  font-size: 1.8em;
  margin-left: 2.5em;
}
// estilos aire acondicionado
.aire_acondicionado{
  background-color: #FDBF00;;
}
.content_icon .aire_acondicionado{
  background-color:#FDBF00;;
}

// estilos aire dimerc
.dimerc{
  background-color: #F92E53;
}
.content_icon .dimerc{
  background-color:#F92E53;
}
.dimerc-color{
  margin-left: 3em;
}

// estilos aire dimerc
.camara1{
  background-color: #0CC9B3;
}
.content_icon .camara1{
  background-color: #0CC9B3;
}
.tamano_logo_camara1{
  height: 30px;
  margin-top: 3em;
}
@media(min-width:670px){
  .tamano_logo_camara1{
  height: 40px;
  margin-top: 3em;
  }
}

// estilos aire movimiento
.movimiento1{
  background-color: #14A9DE;
}
.content_icon .movimiento1{
  background-color: #14A9DE;
}

// estilos humo
.humo1{
  background-color: #53A4EB;
}
.content_icon .humo1{
  background-color: #53A4EB;
}
.tamano_logo_humo1{
  height: 30px;
  margin-top: 3em;
}
@media(min-width:670px){
  .tamano_logo_humo1{
  height: 40px;
  margin-top: 3em;
  }
}
// estilos humedad
.humedad1{
  background-color: #0C59B4;
}
.content_icon .humedad1{
  background-color: #0C59B4;
}

// estilos cerradura
.cerradura1{
  background-color: #BD10E0;
}
.content_icon .ceradura1{
  background-color: #BD10E0;
}

// estilos cerradura
.electrovalvula1{
  background-color: #9B9B9B;
}
.content_icon .electrovalvula1{
  background-color: #9B9B9B;
}
.tamano_logo_electrovalvula1{
  height: 30px;
  margin-top: 3em;
}
@media(min-width:670px){
  .tamano_logo_electrovalvula1{
  height: 40px;
  margin-top: 3em;
  }
}

// estilos cerradura puerta magnetica
.cerradura2{
  background-color: #0BBF38;
}
.content_icon .cerradura2{
  background-color: #0BBF38;
}

// estilos cerradura persiana
.persiana1{
  background-color: #D0021B;
}
.content_icon .persiana1{
  background-color: #D0021B;
}

// estilos cortina
.cortina1{
  background-color: #EB1558;
}
.content_icon .cortina1{
  background-color: #EB1558;
}
.tamano_logo_cortina1{
  height: 30px;
  margin-top: 3em;
}
@media(min-width:670px){
  .tamano_logo_cortina1{
  height: 40px;
  margin-top: 3em;
  }
}

// estilos cerradura sirena
.sirena1{
  background-color: #9C920E;
}
.content_icon .sirena1{
  background-color: #9C920E;
}
// estilos iluminacion
.iluminacion{
  background-color: #2A788B;
}
.content_icon .iluminacion{
  background-color: #2A788B;
}

// estilos tomacorriente
.tomacorriente{
  background-color: #8B0377;
}
.content_icon .tomacorriente{
  background-color: #8B0377;
}

// estilos tomacorriente
.ventilador{
  background-color: #afbd0a;
}
.content_icon .ventilador{
  background-color: #afbd0a;
}
// estilos lampara halogena
.lamparahalo{
  background-color: #F58323;
}
.content_icon .lamparahalo{
  background-color: #F58323;
}
// estilos lampara halogena
.bomba{
  background-color: #1580d9;
}
.content_icon .bomba{
  background-color: #1580d9;
}
// estilos lampara-rgb
.lampara-rgb{
  background-color: #bc60e7;
}
.content_icon .lampara-rgb{
  background-color: #bc60e7;
}
.arriba_cuadro{
  height: 25px;
  width: 25px;
  border-radius: 5px;
  background-color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  margin-bottom: 5px;
  &:active{
    background-color: #bded41;
    box-shadow: 0 0 3px $gris;
  }
}
.icono-chico{
  align-items: center;
  height: 12px;
  width: 18px;
}
@media(min-width:670px){
.derecha_maximo{
  margin-left:15%;
}
}
